
.container-us{
    background: azure;
    padding: 130px 100px 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   /* flex-direction: column;
   background: '../src/images/background-contactus.jpg';
    background-size:cover ;*/
 
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

}
.row-contact{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
 
  min-height: 550px;
  min-width: 650px;
}
.Filling-in-details{
  /*padding: 50px 40px 50px 80px;
  position: relative;
  flex: 1;
  width: 50%;
  color: #111111;
  width: 45%;*/
  background-color: #bef0f7;
  text-align: center;
  position: absolute;
  padding: 70px 50px;
  padding-left: 250px;
  margin-left: 150px;
  width: 550px;
  height: 100%;
  border-radius: 10%;
  box-shadow: 0 50px 50px rgba(0,0,0,0.25);
 

}
.contactInfo{
  justify-content: right;
  position: absolute;
  border-radius: 10%;
  background: khaki;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 20px 20px 25px rgba(0,0,0,0.15);

}
.box{
  display: flex;
  padding-top: 15px;
  padding-right: 0px;
  width: 300px;
  height: 100px;
  justify-content: right;
}
.icon-contact{
  font-size: 30px;
  height: 70px;
  width: 70px;
  text-align: center;
  

}
.text1{
  margin-left: 20px;
  direction: rtl;
  
}
.txt2{
  font-family: 'Noto Sans Hebrew', sans-serif;
}
.title-contact{
  font-family: 'Noto Sans Hebrew', sans-serif;
 
}
input{
  text-align: end;
}
.send-btn{
  margin: 10px;
  background: darkseagreen;
  width: 80px;
  height: 35px;
  border: none;
  font-family: 'Noto Sans Hebrew', sans-serif;
  font-size: x-large;
}
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }