.manager{
    padding-top: 7%;
    
    
}
.nav-links-logout{
    background: gainsboro;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem ;
    height: 100%;
    font-family:'Fredoka', sans-serif;
    border: 2.5px solid #323d3d;
    border-radius: 10px;
    width: 70px;
    margin-left: 120px;
}
.logout{
   
    padding-left: 50px;
}
.btn-service{
    border: 2px solid #111111;
    text-decoration: none;
    font-family: 'Suez One', serif;
    font-size: 25px;
    margin-left: 70px;
    
}

.add_user{
    direction: rtl;
    padding-right: 30px;
    /*padding: 50px 40px 50px 80px;*/
    padding: 30px;
    box-shadow: 1px 1px 2px rgba((0,0,0,0.125), green, blue, alpha);
    position: relative;
    flex: 1;
    max-width: 500px;
    width: 100%;
    background-color: rgb(154, 240, 240);
    margin: 20px auto;
    color: #111111;
   
    text-align: center;
  
}
.update-projects{
    padding-top: 5%;
}
.form-add_user{
    width: 100%;
}
.input_field{
    margin-bottom: 2px;
    
    align-items: center;
    font-family:'Fredoka', sans-serif;
    font-size: inherit;
}
.title-add {
    margin-bottom: 0px;
}
input{
    direction: ltr;
    outline: none;
    border: 1px solid rgba(135, 85, 221, 0.733);
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
    
}
label{
    width: 200px;
    color: #17171855;
    font-family:'Fredoka', sans-serif ;
    margin-right: 10px;
    font-size: 14px;
    
}

.butt{
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0;
    background: #1717182d;
    color: black;
    cursor:pointer ;
    border-radius: 30px;
    outline: none;
    font-family:'Fredoka', sans-serif;
}
.butt:hover{
    background: #1c1ce02d;
}

.users-card{
    font-size: 20px;
    font-family: 'Suez One', serif;
    text-align: center;
    width: 270px;
    height: 170px;
    border: 2px solid aqua;
    border-radius: 15px;
    margin: 10px;
    padding-top: 20px;
    color: darkslategray;
    /*background-color: azure;*/
    
}
.grid-projects{
    display: grid;
    grid-template-columns: repeat(3, 30.333333%);
    padding-left: 120px ;
}
@media screen and (max-width: 1000px){
    .grid-projects{
        display: grid;
        grid-template-columns: repeat(2, 35.333333%);
        padding-left: 20px ;
    }
}
.btns{
  padding-top: 20px ;
  display: grid;
  grid-template-columns: repeat(auto-fit, 50%);
  padding-left: 50px ;
  font-family: 'Suez One', serif;
  font-size: 16px;
}
.btn-del{
   width: 60px;
   color: red;
   background-color: bisque;
   border: 0;
    
}
.btn-update{
    width: 60px;
    color: green;
    background-color: rgb(169, 201, 169);
    border: 0;
}
.add_project-btn{
    font-size: 25px;
    font-family: 'Suez One', serif;
    margin-left: 70px;
}
.grid-btn{
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(5, 40%);
    
}